<div class="chart" [style]="widthStyle()">
  <div class="title">Leaves</div>
  <app-employee-ptoholidays-alt-pto-cell [width]="width">
  </app-employee-ptoholidays-alt-pto-cell>
  <app-employee-ptoholidays-alt-pto-cell *ngFor="let month of leaveMonths"
    [leaveMonth]="month" [width]="width">
  </app-employee-ptoholidays-alt-pto-cell>
  <ng-container *ngIf="annual > 0.0">
    <div class="cell">
      <div class="label">Annual</div>
      <div class="label">Carryover</div>
      <div class="label">Taken</div>
      <div class="label">Projected</div>
      <div class="label">Balance</div>
    </div>
    <div class="cell">
      <div class="data positive">{{annual.toFixed(1)}}</div>
      <div class="data positive">{{carryover.toFixed(1)}}</div>
      <div class="data positive">{{actual.toFixed(1)}}</div>
      <div class="data positive">{{requested.toFixed(1)}}</div>
      <div [class]="balanceClass()">{{balance.toFixed(1)}}</div>
    </div>
  </ng-container>
</div>
