<div class="flexlayout column center">
  <div class="flexlayout row center">
    <div class="daycell weekend" [style]="getDayWidth()">SUN</div>
    <div class="daycell weekday" [style]="getDayWidth()">MON</div>
    <div class="daycell weekday" [style]="getDayWidth()">TUE</div>
    <div class="daycell weekday" [style]="getDayWidth()">WED</div>
    <div class="daycell weekday" [style]="getDayWidth()">THU</div>
    <div class="daycell weekday" [style]="getDayWidth()">FRI</div>
    <div class="daycell weekend" [style]="getDayWidth()">SAT</div>
  </div>
  <ng-container *ngFor="let week of calendar.leaveGroups">
    <div class="flexlayout row center">
      <app-employee-leave-request-day-mobile *ngFor="let lv of week.leaves"
        [leave]="lv" [leaveCodes]="leaveCodes" [showdate]="showDay(lv)" 
        [hours]="hours"
        (changed)="processChange($event)">
      </app-employee-leave-request-day-mobile>
    </div>
  </ng-container>
</div>
