<div class="fxLayout-row-center">
  <div class="month">{{months[leaveMonth.month.getUTCMonth()]}}</div>
  <div [class]="getStyle('dates')">
    <ng-container *ngFor="let lvs of leaveMonth.leaveGroups; index as i">
      <app-pto-month-dates-display [leaves]="lvs.leaves">
      </app-pto-month-dates-display>
      <ng-container *ngIf="i < (leaveMonth.leaveGroups.length - 1)">, </ng-container>
    </ng-container>
  </div>
  <div [class]="getStyle('actual')">{{getActualHours()}}</div>
  <div [class]="getStyle('requested')">{{getProjectedHours()}}</div>
</div>
