<div class="flexlayout column topleft flexgap">
  <mat-stepper #stepper>
    <mat-step label="New Site Basic Information">
      <form [formGroup]="siteForm" class="flexlayout column topleft flexgap">
        <div class="flexlayout row center flexgap">
          <mat-form-field appearance="fill">
            <mat-label>Identifier</mat-label>
            <input matInput formControlName="id">
            <mat-error *ngIf="this.siteForm.get('id')?.hasError('required')"
              class="error">Required</mat-error>
            <mat-error *ngIf="this.siteForm.get('id')?.hasError('pattern')"
              class="error">Only lower case and numbers</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="this.siteForm.get('title')?.hasError('required')"
              class="error">Required</mat-error>
          </mat-form-field>
        </div>
        <div class="flexlayout row center flexgap">
          <mat-checkbox formControlName="mids">
            Use MIDS Rotations
          </mat-checkbox>
          <mat-form-field class="formField">
            <mat-label>UTC (Zulu) Offset</mat-label>
            <input matInput type="number" formControlName="offset" 
              min="-12" max="12" step=".5">
            <mat-hint>+/- from Zulu Time</mat-hint>
            <mat-error *ngIf="this.siteForm.get('offset')?.hasError('required')"
              class="error">Required</mat-error>
          </mat-form-field>
        </div>
        <button mat-button matStepperNext>Next</button>
      </form>
    </mat-step>
    <mat-step label="New Site's Lead Information">
      <form [formGroup]="leadForm" class="flexlayout column topleft flexgap">
        <div class="flexlayout row center">
          <mat-form-field appearance="fill" style="width: 300px;">
            <mat-label>E-mail Address</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="this.leadForm.get('email')?.hasError('required')"
              class="error">Required</mat-error>
            <mat-error *ngIf="this.leadForm.get('email')?.hasError('email')"
              class="error">Must be in Email Format</mat-error>
          </mat-form-field>
        </div>
        <div class="flexlayout row center flexgap">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first">
            <mat-error *ngIf="this.leadForm.get('first')?.hasError('required')"
              class="error">Required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input matInput formControlName="middle">
            <mat-hint>Optional</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last">
            <mat-error *ngIf="this.leadForm.get('last')?.hasError('required')"
              class="error">Required</mat-error>
          </mat-form-field>
        </div>
        <div class="flexlayout row center flexgap">
          <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="this.leadForm.get('password')?.hasError('required')"
              class="error">Required</mat-error>
            <mat-error *ngIf="this.leadForm.get('password')?.hasError('passwordStrength')"
              class="error">Not minimum requirements</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Verify New Password</mat-label>
            <input matInput type="password" formControlName="password2">
            <mat-error *ngIf="this.leadForm.get('password2')?.hasError('required')"
              class="error">Required</mat-error>
            <mat-error *ngIf="this.leadForm.get('password2')?.hasError('matching')"
              class="error">Doesn't Match</mat-error>
          </mat-form-field>
        </div>
        <div class="flexlayout row topleft flexgap">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="onAdd()">
            Add
          </button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="New Site's Scheduler/Admin (Optional)">
      <form [formGroup]="schedulerForm" class="flexlayout column topleft flexgap">
        <div class="flexlayout row center">
          <mat-form-field appearance="fill" style="width: 300px;">
            <mat-label>E-mail Address</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="this.schedulerForm.get('email')?.hasError('required')"
              class="error">Required</mat-error>
            <mat-error *ngIf="this.schedulerForm.get('email')?.hasError('email')"
              class="error">Must be in Email Format</mat-error>
          </mat-form-field>
        </div>
        <div class="flexlayout row center flexgap">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first">
            <mat-error *ngIf="this.schedulerForm.get('first')?.hasError('required')"
              class="error">Required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input matInput formControlName="middle">
            <mat-hint>Optional</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last">
            <mat-error *ngIf="this.schedulerForm.get('last')?.hasError('required')"
              class="error">Required</mat-error>
          </mat-form-field>
        </div>
        <div class="flexlayout row center flexgap">
          <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="this.schedulerForm.get('password')?.hasError('required')"
              class="error">Required</mat-error>
            <mat-error *ngIf="this.schedulerForm.get('password')?.hasError('passwordStrength')"
              class="error">Not minimum requirements</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Verify New Password</mat-label>
            <input matInput type="password" formControlName="password2">
            <mat-error *ngIf="this.schedulerForm.get('password2')?.hasError('required')"
              class="error">Required</mat-error>
            <mat-error *ngIf="this.schedulerForm.get('password2')?.hasError('matching')"
              class="error">Doesn't Match</mat-error>
          </mat-form-field>
        </div>
        <div class="flexlayout row topleft flexgap">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
