<div class="fxLayout-column-center">
  <div class="label">Holidays</div>
  <div class="fxLayout-row-center">
    <div class="code">&nbsp;</div>
    <div class="referenceDate">Reference Date</div>
    <div class="dates">
      Date Taken <span style="color: #3399ff;">(Projected)</span>
    </div>
    <div class="actual">Hours</div>
  </div>
  <app-pto-holiday-cell *ngFor="let hol of holidays" [year]="year" [holiday]="hol"
   [activecell]="isActive(hol)"></app-pto-holiday-cell>
  <div class="fxLayout-row-center">
    <div class="code">&nbsp;</div>
    <div class="daysleft">Days Left</div>
    <div class="hoursleft">Hours Left</div>
    <div class="hourstaken">Hours Taken</div>
  </div>
  <div class="fxLayout-row-center">
    <div class="code">&nbsp;</div>
    <div class="daysleftData">{{getHolidaysRemaining()}}</div>
    <div class="hoursleftData">{{getHolidaysHoursRemaining()}}</div>
    <div class="hourstakenData">{{getHolidayHoursTaken()}}</div>
  </div>
</div>
