<div class="fxLayout fxLayout-column-center">
  <mat-card style="background-color: #3f51b5; color: white;">
    <mat-card-header>
      <div class="fxLayout-row-topleft">
        <div class="fxLayout-column-topleft">
          <div class="headline">Employee's Leaves</div>
          <div class="subheadline">{{employee.name.getFullName()}}</div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="fxLayout-column-topleft">
      <div class="fxLayout-row-center">
        <div class="movement" (click)="updateYear('down')">&lt;&lt;</div>
        <div class="year">{{this.year}}</div>
        <div class="movement" (click)="updateYear('up')">&gt;&gt;</div>
      </div>
      <div class="fxLayout-row-center">
        <div class="delete">&nbsp;</div>
        <div class="date">Leave Date</div>
        <div class="code">Leave Type</div>
        <div class="hours">Hours</div>
        <div class="status">Status</div>
      </div>
      <div class="leavebox">
        <div class="fxLayout-column-center">
          <app-site-employee-leave-row *ngFor="let ld of leaveDays"
          [leaveday]="ld" [employee]="employee"
          (changed)="updateEmployee($event)"></app-site-employee-leave-row>
        </div>
      </div>
      <form [formGroup]="leaveForm">
        <div class="fxLayout-row-center">
          <div class="delete">
            <mat-icon class="addIcon" *ngIf="leaveForm.valid"
            matTooltip="Add Leave" (click)="addLeave()">add</mat-icon>
          </div>
          <div class="date">
            <input matInput class="form-field" formControlName="date">
          </div>
          <div class="code">
            <select class="form-field" formControlName="code" >
              <option *ngFor="let lc of leaveCodes" [value]="lc.id">
                {{lc.title}}
              </option>
            </select>
          </div>
          <div class="hours">
            <input class="form-field" formControlName="hours">
          </div>
          <div class="status">
            <select class="form-field" formControlName="status">
              <option value="REQUESTED">Requested</option>
              <option value="APPROVED">Approved</option>
              <option value="ACTUAL">Actual</option>
            </select>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
