<div class="fxLayout fxLayout-column-center">
  <mat-card style="background-color: #3f51b5; color: white;">
    <mat-card-header>
      <div class="fxLayout-row-topleft">
        <div class="fxLayout-column-topleft">
          <div class="headline">Employee's Leaves</div>
          <div class="subheadline">{{employee.name.getFullName()}}</div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="fxLayout-column-topleft">
      <div class="fxLayout-row-center">
        <div class="movement" (click)="updateYear('down')">&lt;&lt;</div>
        <div class="year">{{this.year}}</div>
        <div class="movement" (click)="updateYear('up')">&gt;&gt;</div>
      </div>
      <form [formGroup]="leaveForm">
        <div class="fxLayout-row-center">
          <div class="delete">
            <mat-icon class="addIcon" *ngIf="leaveForm.valid"
            matTooltip="Add Leave" (click)="addLeave()">add</mat-icon>
          </div>
          <div class="date">
            <mat-form-field appearance="fill">
              <mat-label>Leave Date</mat-label>
              <input matInput class="form-field" formControlName="date">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="code">
            <mat-form-field appearance="fill">
              <mat-label>Leave Type</mat-label>
              <mat-select class="form-field" formControlName="code" >
                <mat-option *ngFor="let lc of leaveCodes" [value]="lc.id">
                  {{lc.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="hours">
            <mat-form-field appearance="fill">
              <mat-label>Hours</mat-label>
              <input matInput class="form-field" formControlName="hours">
            </mat-form-field>
          </div>
          <div class="status">
            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select class="form-field" formControlName="status">
                <mat-option value="REQUESTED">Requested</mat-option>
                <mat-option value="APPROVED">Approved</mat-option>
                <mat-option value="ACTUAL">Actual</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="fxLayout-row-center">
        <div class="delete">&nbsp;</div>
        <div class="date">Leave Date</div>
        <div class="code">Leave Type</div>
        <div class="hours">Hours</div>
        <div class="status">Status</div>
      </div>
      <div class="leavebox">
        <div class="fxLayout-column-center">
          <app-site-employee-leave-row *ngFor="let ld of leaveDays"
          [leaveday]="ld" [employee]="employee"
          (changed)="updateEmployee($event)"></app-site-employee-leave-row>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
