<div class="flexlayout column topleft">
  <form [formGroup]="positionForm" class="flexlayout column topleft outline">
    <mat-form-field appearance="fill" *ngIf="showAdd" class="formfield">
      <mat-label>Position ID</mat-label>
      <input matInput formControlName="id">
      <mat-error class="error" *ngIf="positionForm.controls['id'].invalid">
        Required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="formfield">
      <mat-label>Position Name (Title)</mat-label>
      <input matInput formControlName="name" (blur)="updatePosition('name')">
      <mat-error class="error" *ngIf="positionForm.controls['name'].invalid">
        Required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="!showAdd" class="formfield">
      <mat-label>Workcenter Position to Edit</mat-label>
      <mat-select formControlName="assigned" multiple 
        (selectionChange)="updatePosition('assigned')">
        <ng-container *ngFor="let emp of site.employees">
          <mat-option *ngIf="emp.isActive()"
            [value]="emp.id">{{emp.name.getFullName()}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <div class="flexlayout row center formfield" style="gap: 5px;">
      <button mat-raised-button color="primary" *ngIf="showAdd"
        (click)="addPosition()">
        Add
      </button>
      <button mat-raised-button color="warn" *ngIf="showAdd"
        (click)="positionForm.reset()">
        Reset
      </button>
      <button mat-raised-button color="warn" *ngIf="!showAdd"
        (click)="deletePosition()">
        Delete
      </button>
    </div>
  </form>
</div>
