<div class="main">
  <div class="lists">
    <div class="current">
      <div class="title">Employee's Current Specialties</div>
      <div class="list">
        <div *ngFor="let item of specialties" [class]="setItemClass(item)"
          (click)="selectItem('specialties', item.id)">
          {{item.label}}
        </div>
      </div>
    </div>
    <div class="buttonDiv">
      <button mat-icon-button *ngIf="bAddAvailable"
        (click)="onSetChanges('available')">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button mat-icon-button *ngIf="bAddSpecialty"
        (click)="onSetChanges('specialties')">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
    <div class="available">
      <div class="title">Available Specialties</div>
      <div class="list">
        <div *ngFor="let item of available" [class]="setItemClass(item)"
        (click)="selectItem('available', item.id)">
          {{item.label}}
        </div>
      </div>
    </div>
  </div>
</div>