<div class="flexlayout column center">
  <mat-stepper>
    <mat-step label="Basic Information" class="flexlayout column center">
      <form [formGroup]="asgmtForm" class="flexlayout row center" 
        style="gap: 10px;">
        <mat-form-field appearance="fill">
          <mat-label>Assigned Site</mat-label>
          <mat-select formControlName="site"
            (selectionChange)="selectSite()">
            <mat-option *ngFor="let site of team.sites" [value]="site.id">
              {{site.name}}
            </mat-option>
          </mat-select>
          <mat-error class="error" *ngIf="asgmtForm.get('site')?.invalid">
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Normal Workcenter</mat-label>
          <mat-select formControlName="workcenter">
            <ng-container *ngIf="selectedSite">
              <mat-option *ngFor="let wc of selectedSite.workcenters"
                [value]="wc.id">{{wc.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Assignment Start Date</mat-label>
          <input matInput [matDatepicker]="startpicker"
            formControlName="startdate" 
            (dateChange)="updateField('startdate')">
          <mat-datepicker-toggle matIconSuffix [for]="startpicker">
          </mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Assignment End Date</mat-label>
          <input matInput [matDatepicker]="endpicker"
            formControlName="enddate" 
            (dateChange)="updateField('enddate')">
          <mat-datepicker-toggle matIconSuffix [for]="endpicker">
          </mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
      </form>
      <div class="flexlayout row center" *ngIf="assignment.id === 0">
        <button mat-raised-button color="primary" (click)="addAssignment()">
          Add
        </button>
        <button mat-raised-button color="warn" (click)="asgmtForm.reset()">
          Reset
        </button>
      </div>
    </mat-step>
    <mat-step label="Assignment Schedule(s) Editor" 
      class="flexlayout column topleft">
      <form [formGroup]="scheduleForm" class="flexlayout row topleft">
        <mat-form-field appearance="fill">
          <mat-label>Schedule to Edit</mat-label>
          <mat-select formControlName="schedule" 
            (selectionChange)="changeSchedule()">
            <mat-option *ngFor="let sched of assignment.schedules" 
              [value]="sched.id">{{sched.id}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Add new schedule"
          (click)="updateField('addschedule')">
          <mat-icon>add</mat-icon>
        </button>
        <ng-container *ngIf="assignment.schedules.length > 1">
          <mat-form-field class="fieldWidth">
            <mat-label>Rotation Date</mat-label>
            <input matInput [matDatepicker]="rotatepicker"
              formControlName="rotationdate" 
              (dateChange)="updateField('rotationdate')">
            <mat-hint>Date Base for rotation</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="rotatepicker"></mat-datepicker-toggle>
            <mat-datepicker #rotatepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="fieldWidth">
            <mat-label>Rotation Days</mat-label>
            <input matInput type="number" step="7" min="0" max="336" 
              formControlName="rotationdays" 
              (change)="updateField('rotationdays')">
          </mat-form-field>
        </ng-container>
      </form>
      <app-site-employee-assignment-schedule [schedule]="schedule" [site]="site"
        (change)="updateSchedule($event)">
      </app-site-employee-assignment-schedule>
    </mat-step>
    <mat-step label="Assignment Primary Labor Code(s)">
      <div class="flexlayout row topleft" style="flex-wrap: wrap;">
        <div class="flexlayout column left" style="width: 200px;"
          *ngFor="let lc of laborcodes">
          <mat-checkbox [checked]="lc.checked"
            (change)="onSelect(lc.chargenumber, lc.extension, $event)">
            {{lc.chargenumber}} - {{lc.extension}}
          </mat-checkbox>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
