<div class="flexlayout column center">
<mat-stepper [style]="setWidth()">
  <mat-step label="Leave Information">
    <mat-stepper backgroundColor="accent">
      <mat-step label="PTO/Holiday Listing">
        <!--<app-employee-ptoholidays-chart-desktop [employee]="employee"
          [width]="setMaxChildWidth()">
        </app-employee-ptoholidays-chart-desktop>-->
        <app-employee-ptoholidays-alt [employee]="employee">
        </app-employee-ptoholidays-alt>
      </mat-step>
      <mat-step label="Leave Request Editor">
        <app-employee-leave-request-editor-desktop [employee]="employee"
          (changed)="updateEmployee($event)">
        </app-employee-leave-request-editor-desktop>
      </mat-step>
      <mat-step label="Leave Editor">
        <app-site-employee-leave-editor [employee]="employee"
          (changed)="updateEmployee($event)">
        </app-site-employee-leave-editor>
      </mat-step>
      <mat-step label="Annual Leave Balance Editor">
        <app-site-employee-leave-balance [employee]="employee"
          (changed)="updateEmployee($event)">
        </app-site-employee-leave-balance>
      </mat-step>
    </mat-stepper>
  </mat-step>
  <mat-step label="Personal/Company Information">
    <mat-stepper>
      <mat-step label="Personal Information">
        <app-site-employee-profile [employee]="employee" 
          (changed)="updateEmployee($event)"></app-site-employee-profile>
      </mat-step>
      <mat-step label="Company Information">
        <app-site-employee-company [employee]="employee"
          (changed)="updateEmployee($event)"></app-site-employee-company>
      </mat-step>
      <mat-step label="Contact Information">
        <app-employee-contact-info [employee]="employee"
          (changed)="updateEmployee($event)"></app-employee-contact-info>
      </mat-step>
      <mat-step label="Employee Specialties">
        <app-employee-specialties [employee]="employee"
          (changed)="updateEmployee($event)"></app-employee-specialties>
      </mat-step>
    </mat-stepper>
  </mat-step>
  <mat-step label="Assignments/Variations">
    <mat-stepper>
      <mat-step label="Employee's Assignment Editor">
        <app-site-employee-assignment [employee]="employee" [site]="site"
          (changed)="updateEmployee($event)"></app-site-employee-assignment>
      </mat-step>
      <mat-step label="Employee's Variation Editor">
        <app-site-employee-variations [employee]="employee" [site]="site"
          (changed)="updateEmployee($event)"></app-site-employee-variations>
      </mat-step>
    </mat-stepper>
  </mat-step>
</mat-stepper>
</div>
