<div class="flexlayout column topleft">
  <form [formGroup]="companiesForm" class="flexlayout row topleft flexgap">
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Select Company to Edit</mat-label>
      <mat-select formControlName="company" (selectionChange)="onSelect()">
        <mat-option value="">Add New Company</mat-option>
        <mat-option *ngFor="let co of team.companies" [value]="co.id">
          {{co.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <app-team-editor-edit-companies-company [team]="team" 
    [company]="selectedCompany" (changed)="updateTeam($event)">
  </app-team-editor-edit-companies-company>
</div>
