<mat-stepper #stepper [style]="setMaxWidth()">
  <mat-step [stepControl]="editorForm" errorMessage="Leave request incomplete">
    <ng-template matStepLabel>Create/Edit Request</ng-template>
    <div class="flexlayout column topleft">
      <div class="flexlayout row topleft flexgap flexwrap">
        <form [formGroup]="editorForm" class="flexlayout column topleft">
          <div class="flexlayout row left">
            <mat-form-field appearance="fill" style="width: 30rem;">
              <mat-label>Choose Leave Request</mat-label>
              <mat-select formControlName="leaverequest" required
                (selectionChange)="setRequest()">
                <mat-option [value]="'new'">Create New Request</mat-option>
                <mat-option *ngFor="let req of requests" [value]="req.id">
                  {{getRequestLabel(req)}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flexlayout row left flexgap">
            <mat-form-field appearance="fill">
              <mat-label>Start Date</mat-label>
              <input matInput placeholder="Start Date"
                [matDatepicker]="startpicker"                  
                formControlName="start" (dateChange)="processChange('start')">
              <mat-hint>Include Time Off</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="startpicker"></mat-datepicker-toggle>
              <mat-datepicker #startpicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>End Date</mat-label>
              <input matInput placeholder="Start Date"
                [matDatepicker]="endpicker"                  
                formControlName="end" (dateChange)="processChange('end')">
              <mat-hint>Include Time Off</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="endpicker"></mat-datepicker-toggle>
              <mat-datepicker #endpicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Primary Leave Code</mat-label>
              <mat-select formControlName="primarycode"
                (selectionChange)="processChange('code')">
                <mat-option *ngFor="let wc of workcodes" [value]="wc.id">
                  {{wc.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flexlayout row left">
            <mat-form-field appearance="fill" class="comment-edit">
              <mat-label>Add A Comment</mat-label>
              <textarea matInput formControlName="comment"
               (blur)="processChange('comment')"></textarea>
            </mat-form-field>
          </div>
          <div class="flexlayout row left">
            <button mat-raised-button color="warn"
              (click)="deleteRequest()"
              *ngIf="selected && selected.id !== 'new' && !approver">
              Delete
            </button>
            <button mat-raised-button color="primary" 
              (click)="submitForApproval()"
              *ngIf="selected && selected.status.toLowerCase() === 'draft' && selected.id !== '' && selected.id !== 'new'">
              Submit For Approval
            </button>
            <button mat-raised-button color="accent" 
              (click)="approveLeaveRequest()"
              *ngIf="selected && selected.status.toLowerCase() === 'requested' && approver">
              Approve
            </button>
            <button mat-raised-button color="accent" 
              (click)="unapproveLeaveRequest()"
              *ngIf="selected && selected.status.toLowerCase() === 'requested' && approver">
              Unapprove
            </button>
          </div>
        </form>
        <div class="flexlayout column center">
          <div class="flexlayout row center">
            <div class="label">Created On:</div>
            <div class="label">{{getCurrentLeaveRequestDate()}}</div>
          </div>
          <div class="flexlayout row center">
            <div class="label">Current Status:</div>
            <ng-container *ngIf="selected">
              <div class="label">{{selected.status.toUpperCase()}}</div>
            </ng-container>
            <ng-container *ngIf="!selected">
              <div class="label">-</div>
            </ng-container>
          </div>
          <div class="flexlayout row center">
            <div class="label">Approved By:</div>
            <div class="label">{{getApprovedBy()}}</div>
          </div>
          <div class="flexlayout row center">
            <div class="label">Approval Date:</div>
            <div class="label">{{getApprovedDate()}}</div>
          </div>
          <div class="flexlayout row center">
            <div class="label">PTO Hours</div>
            <div class="label">{{ptohours}}</div>
          </div>
          <div class="flexlayout row center">
            <div class="label">Holiday Hours</div>
            <div class="label">{{holidayhours}}</div>
          </div>
        </div>
      </div>
      <app-employee-leave-request-calendar 
        *ngIf="selected && selected.id !== '' && selected.id !== 'new'"
        style="margin-top: 10px;"
        [startdate]="selected.startdate"
        [enddate]="selected.enddate" [leaveCodes]="workcodes"
        [hours]="stdHours" (changed)="processDayChange($event)"
        [leavedays]="selected.requesteddays">
      </app-employee-leave-request-calendar>
    </div>
  </mat-step>
  <mat-step *ngIf="selected && selected.id !== '' && selected.id !== 'new'">
    <ng-template matStepLabel>Comments</ng-template>
    <div class="flexlayout row left">
      <form [formGroup]="commentForm">
        <mat-form-field appearance="fill" class="comment-edit">
          <mat-label>Add A Comment</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="addComment()">
        Add
      </button>
    </div>
    <div class="comments">
      <ng-container *ngIf="selected.comments.length === 0">
        <div>No Comments</div>
      </ng-container>
      <ng-container *ngIf="selected.comments.length > 0">
        <div *ngFor="let cmt of selected.comments">
          <div>{{cmt.getDate()}} - {{cmt.comment}}</div>
        </div>
      </ng-container>
    </div>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext
        *ngIf="selected.id !== ''">Next</button>
    </div>
  </mat-step>
  <mat-step *ngIf="selected && selected.id !== '' && selected.id !== 'new'">
    <ng-template matStepLabel>Shift Coverage</ng-template>
    <app-employee-leave-request-availability-calendar
      [employee]="employee" [site]="site" [leavedays]="selected.requesteddays"
      [startdate]="selected.startdate" [enddate]="selected.enddate">
    </app-employee-leave-request-availability-calendar>
  </mat-step>
</mat-stepper>
<app-employee-leave-request-legend [leavecodes]="workcodes"
[maxWidth]="maxWidth">
</app-employee-leave-request-legend>