<div class="fxLayout fxLayout-column-center">
  <mat-card style="background-color: #3f51b5; color: white;">
    <mat-card-header>
      <div class="fxLayout-row-center">
        <div class="fxLayout-column-topleft">
          <div class="headline">Employee's Company Information</div>
          <div class="subheadline">{{employee.name.getFullName()}}</div>
        </div>
        <span class="flex-spacer"></span>
        <button mat-icon-button color="accent"
            *ngIf="this.variation && this.variation.id > 1"
            matTooltip="Delete Current Variation"
            (click)="deleteVariation()">
            <mat-icon>delete</mat-icon>
          </button>
      </div>
    </mat-card-header>
    <mat-card-content class="fxLayout-column-center">
      <form class="fxLayout-column-center" [formGroup]="variationForm">
        <mat-form-field class="formFieldWider">
          <mat-label>Selected Variation</mat-label>
          <mat-select (selectionChange)="selectVariation()" 
            formControlName="variation">
            <mat-option value="0">New Variation</mat-option>
            <mat-option *ngFor="let vari of variations" [value]="vari.id">
              {{getLabel(vari)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="fxLayout-row-center" style="align-items: flex-start;">
          <mat-form-field appearance="fill" class="formFieldWide">
            <mat-label>Variation Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="start" 
                placeholder="Start Date" style="color: black;"
                (dateChange)="updateVariation('start')">
              <input matEndDate formControlName="end" 
                placeholder="End Date" style="color: black;"
                (dateChange)="updateVariation('end')">
            </mat-date-range-input>
            <mat-hint> MM/DD/YYYY - MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <div class="checkbox" style="background-color: white;">
            <mat-checkbox formControlName="mids" style="height: 55px;"
              (change)="updateVariation('mids')">
              MID Shift Rotation</mat-checkbox>
          </div>
        </div>
      </form>
      <div class="fxLayout-row-center">
        <app-site-employee-assignment-schedule [schedule]="schedule"
          [site]="site"
          (change)="updateSchedule($event)">
        </app-site-employee-assignment-schedule>
      </div>
      <div class="fxLayout-row-center">
        <button mat-raised-button color="accent" 
          *ngIf="variation.id === 0 && variationForm.valid"
          (click)="addVariation()">
          Add
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
