.dayOfMonth {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  height: 1.3em;
  width: 1.3em;
  padding: 0px;
  margin: 0px;
}

.weekend {
  background-color: aqua;
  color: black;
  border: solid 1px aqua;
}

.today {
  background-color: darkred;
  color: white;
  border: solid 1px darkred;
}

.weekday {
  background-color: white;
  color: black;
  border: solid 1px white;
}

.cell {
  margin: 0px;
  padding: 0px;
  height: 6.2em;
  width: 6.2em;
  position: relative;
  border: solid 1px black;
}

.code {
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  font-size: 2em;
  font-weight: bold;
  height: 50px;
}

.workcenter {
  position: absolute;
  top: 75px;
  left: 0px;
  right: 0px;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  font-weight: bold;
  height: 25px;
}