<mat-stepper>
  <mat-step label="Leave Information">
    <mat-stepper backgroundColor="accent">
      <mat-step label="PTO/Holiday Listing">
        <app-employee-ptoholidays-chart-desktop [employee]="employee">
        </app-employee-ptoholidays-chart-desktop>
      </mat-step>
      <mat-step label="Leave Request Editor">
        <app-employee-leave-request-editor-desktop [employee]="employee"
          (changed)="updateEmployee($event)">
        </app-employee-leave-request-editor-desktop>
      </mat-step>
      <mat-step label="Leave Editor">
        <app-site-employee-leave-editor [employee]="employee"
          (changed)="updateEmployee($event)">
        </app-site-employee-leave-editor>
      </mat-step>
      <mat-step label="Annual Leave Balance Editor">

      </mat-step>
    </mat-stepper>
  </mat-step>
  <mat-step label="Personal/Company Information">
    
  </mat-step>
  <mat-step label="Assignments/Variations">
    
  </mat-step>
</mat-stepper>
