.lrList {
  width: 298px;
  border: solid 1px white;
  text-align: center;
  overflow-y: auto;
}

.requestDate {
  background-color: white;
  color: #3f51b3;
}

.requestDateLabel {
  font-size: 14pt;
  font-weight: bold;
}

.mat-date-range-input-inner {
  color: black !important;
}

.label {
  width: 150px;
  font-size: 1.2em;
  font-weight: bold;
  border: solid 1px white;
  text-align: center;
}

.list {
  text-align: center;
  vertical-align: top;
  padding: 0;
  margin: 0;
  max-height: 350px;
  min-height: 50px;
  border: solid 1px white;
  background-color: white;
  overflow-y: auto;
}

.employee {
  display: flex;
  width: 97%;
  min-height: 30px !important;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  color: black;
  border: solid 1px black;
}

.employee:hover, .active:hover {
  background-color: lightblue;
  color: black;
  border: solid 1px black;
}

.active {
  background-color: #3f51b5;
  color: white;
}
