<div class="flexlayout row topleft flexgap">
  <form [formGroup]="companyForm" class="flexlayout column topleft flexgap">
    <div class="flexlayout row center flexgap">
      <mat-form-field appearance="fill">
        <mat-label>Company Identifier</mat-label>
        <input matInput formControlName="id">
        <mat-error class="error" *ngIf="companyForm.controls['id'].hasError('required')">
          Required
        </mat-error>
        <mat-error class="error" *ngIf="companyForm.controls['id'].hasError('duplicate')">
          Duplicate ID
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" width="300px;">
        <mat-label>Company Name/Title</mat-label>
        <input matInput formControlName="name" (blur)="onChange('name')">
        <mat-error class="error" *ngIf="companyForm.controls['name'].invalid">
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flexlayout row center flexgap">
      <mat-form-field appearance="fill">
        <mat-label>Ingest Method</mat-label>
        <mat-select formControlName="ingest"
          (selectionChange)="onChange('ingest')">
          <mat-option value="manual">Manual Entry</mat-option>
          <mat-option value="sap">ADP/SAP Excel Files</mat-option>
          <mat-option value="mexcel">Manual Excel Files</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="holidays" (change)="onChange('holidays')"
        *ngIf="company.id !== ''">
        Has Holidays
      </mat-checkbox>
    </div>
    <div class="flexlayout row center flexgap"
      *ngIf="companyForm.controls['ingest'].value !== 'manual'">
      <mat-form-field appearance="fill">
        <mat-label>Ingest Period</mat-label>
        <mat-select formControlName="period"
          (selectionChange)="onChange('period')">
          <mat-option value="7">Weekly</mat-option>
          <mat-option value="14">Every 2 Weeks</mat-option>
          <mat-option value="15">Twice a Month</mat-option>
          <mat-option value="30">Monthly</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="showStart">
        <mat-label>Ingest Start Weekday</mat-label>
        <mat-select formControlName="start"
          (selectionChange)="onChange('start')">
          <mat-option *ngFor="let wd of weekdays;let i = index"
            [value]="i">{{wd}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flexlayout row center flexgap" *ngIf="company.id === ''">
      <button mat-raised-button color="primary" 
        [disabled]="companyForm.invalid" (click)="onAdd();">
        Add
      </button>
      <button mat-raised-button (click)="companyForm.reset()">Reset</button>
    </div>
    <div class="flexlayout row center flexgap" *ngIf="company.id !== ''">
      <button mat-raised-button color="warn" (click)="onDelete()">
        Delete
      </button>
    </div>
  </form>
  <app-team-editor-edit-companies-company-holidays *ngIf="hasHolidays"
    [team]="team" [company]="company">
  </app-team-editor-edit-companies-company-holidays>
</div>
