<div class="fxLayout fxLayout-column-center">
    <mat-card style="width:90%;background-color: #3f51b5; color: white;">
        <mat-card-header>
            <div class="fxLayout-row-center">
                <h2>Mission Information</h2>
                <span class="flex-spacer"></span>
                <button mat-icon-button color="accent"
                    *ngIf="showDeleteButton()"
                    matTooltip="Delete Current Mission"
                    (click)="verifyDeletion()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button
                    matTooltip="Clear mission display"
                    (click)="clearMission()">
                    <mat-icon>deselect</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content class="fxLayout-column-center" style="overflow-y:auto;">
            <form [formGroup]="missionForm">
                <div class="fxLayout-row-center">
                    <div class="formField">
                        <mat-form-field appearance="fill" class="fieldWidth">
                            <mat-label>Mission Date</mat-label>
                            <input matInput [matDatepicker]="datepicker"
                                formControlName="msndate" (dateChange)="getSortie('msndate')">
                            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="formField">
                        <mat-form-field class="fieldWidth">
                            <mat-label>Platform</mat-label>
                            <mat-select formControlName="platform" (selectionChange)="getSortie('platform')">
                                <mat-option *ngFor="let platform of getPlatforms()"
                                    [value]="platform.id">{{platform.id}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="formField">
                        <mat-form-field class="fieldWidth">
                            <mat-label>Sortie ID</mat-label>
                            <mat-select formControlName="sortie"
                                (selectionChange)="getSortie('sortie')">
                                <mat-option *ngFor="let s of sortieList" [value]="s">
                                    {{s.toUpperCase()}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showMission">
                        <button mat-raised-button [color]="editColor"
                            (click)="changeSortieID()">
                            Change Sortie ID
                        </button>
                    </div>
                </div>
                <ng-container *ngIf="showMission">
                    <div class="fxLayout-row-center">
                        <div class="formField">
                            <mat-form-field class="fieldWidth">
                                <mat-label>Mission Exploitation</mat-label>
                                <mat-select formControlName="exploitation" 
                                    (selectionChange)="updateMission('exploitation')">
                                    <mat-option *ngFor="let exp of getExploitations()"
                                        [value]="exp.id"
                                        [matTooltip]="exp.explanation">{{exp.id}}</mat-option>
                                </mat-select>
                                <mat-error color="warn" *ngIf="missionForm.get('exploitation')?.hasError('required')">
                                    Can't be empty</mat-error>
                            </mat-form-field>
                        </div>
                        <div *ngIf="showTailNumber()" class="formField">
                            <mat-form-field class="fieldWidth">
                                <mat-label>Tail Number</mat-label>
                                <mat-select formControlName="tailnumber"
                                    (selectionChange)="updateMission('tailnumber')">
                                    <mat-option value="A">A</mat-option>
                                    <mat-option value="B">B</mat-option>
                                    <mat-option value="C">C</mat-option>
                                    <mat-option value="D">D</mat-option>
                                    <mat-option value="E">E</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="formField">
                            <mat-form-field class="fieldWidth">
                                <mat-label>Communications Method</mat-label>
                                <mat-select formControlName="communications" 
                                    (selectionChange)="updateMission('communications')">
                                    <mat-option *ngFor="let exp of communicationList"
                                        [value]="exp">{{exp}}</mat-option>
                                </mat-select>
                                <mat-error color="warn" *ngIf="missionForm.get('communications')?.hasError('required')">
                                    Can't be empty</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="formField">
                            <mat-form-field class="fieldWidth">
                                <mat-label>Primary DCGS</mat-label>
                                <mat-select formControlName="dcgs" 
                                    (selectionChange)="updateMission('dcgs')">
                                    <mat-option *ngFor="let exp of dcgsList"
                                        [value]="exp">{{exp}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="formField">
                            <mat-form-field class="fieldWidth">
                                <mat-label>Mission Overlap (Time)</mat-label>
                                <input matInput formControlName="overlap"
                                    (blur)="updateMission('overlap')">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="fxLayout-row-center">
                        <mat-form-field style="width: 800px;">
                            <mat-label>Overall Mission Comments</mat-label>
                            <textarea matInput formControlName="comments"
                                style="width: 100%;"
                                (blur)="updateMission('comments')"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="fxLayout-row-center">
                        <div class="fxLayout-row-center" style="background-color: white;">
                            <mat-radio-group formControlName="isExecuted"
                                (change)="updateMission('isExecuted')">
                                <mat-radio-button [value]="'executed'">Executed</mat-radio-button>
                                <mat-radio-button [value]="'cancelled'">Cancelled</mat-radio-button>
                                <mat-radio-button [value]="'aborted'">Aborted</mat-radio-button>
                                <mat-radio-button [value]="'indefdelay'">Indef Delay</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="fxLayout-row-center">
                        <div class="fxLayout-row-center" style="background-color: white;">
                            <h5 style="color: black;">GEOINT Exploitation Sensor:</h5>
                            <mat-radio-group formControlName="imintsensor"
                                (change)="updateMission('imintsensor')">
                                <mat-radio-button *ngIf="showPME3"
                                    value="PME3">PME3</mat-radio-button>
                                <mat-radio-button *ngIf="showPME4"
                                    value="PME4">PME4</mat-radio-button>
                                <mat-radio-button *ngIf="showIMINT"
                                    value="IMINT">IMINT</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </ng-container>
            </form>
            <app-sensors [sensors]="missionSensors" [exploit]="exploit" 
                [missionid]="missionid" [platform]="platform">
            </app-sensors>
        </mat-card-content>
    </mat-card>
</div>
