<div class="overall">
  <div class="columns">
    <div class="name" [style]="nameCellStyle()">&nbsp</div>
    <div class="name" [style]="nameCellStyle()">NAME</div>
    <ng-container *ngIf="workcenter.positions && workcenter.positions.length > 0">
      <ng-container *ngFor="let pos of workcenter.positions">
        <ng-container *ngIf="pos.employees && pos.employees.length > 0">
          <div class="name" [style]="nameCellStyle()" 
            *ngFor="let emp of pos.employees">
            {{emp.name.getLastFirst()}}
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="workcenter.shifts && workcenter.shifts.length > 0">
      <ng-container *ngFor="let pos of workcenter.shifts">
        <ng-container *ngIf="pos.employees && pos.employees.length > 0">
          <div class="name" [style]="nameCellStyle()" 
            *ngFor="let emp of pos.employees">
            {{emp.name.getLastFirst()}}
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="columns overflowx" [style]="daysStyle()">
    <!-- the first two rows of this section are the date headers of date 
      number and weekday for the date -->
    <app-site-schedule-month-days [workcodes]="workcodes" [dates]="monthDays"
      [counter]="increment()"></app-site-schedule-month-days>
    <app-site-schedule-month-days [workcodes]="workcodes" [dates]="monthDays"
      [counter]="increment()"></app-site-schedule-month-days>
    <ng-container *ngIf="workcenter.positions && workcenter.positions.length > 0">
      <ng-container *ngFor="let pos of workcenter.positions">
        <ng-container *ngIf="pos.employees && pos.employees.length > 0">
          <app-site-schedule-month-days [workcodes]="workcodes" 
            [dates]="monthDays" [counter]="increment()" 
            *ngFor="let emp of pos.employees" [employee]="emp">
          </app-site-schedule-month-days>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="workcenter.shifts && workcenter.shifts.length > 0">
      <ng-container *ngFor="let pos of workcenter.shifts">
        <ng-container *ngIf="pos.employees && pos.employees.length > 0">
          <app-site-schedule-month-days [workcodes]="workcodes" 
            [dates]="monthDays" [counter]="increment()" 
            *ngFor="let emp of pos.employees" [employee]="emp">
          </app-site-schedule-month-days>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
