<div class="flexlayout column center">
  <div class="flexlayout row center">
    <div class="direction" (click)="changeMonth('down', 'year')"
      [style]="directionStyle">&lt;&lt;</div>
    <div class="direction" (click)="changeMonth('down', 'month')"
    [style]="directionStyle">&lt;</div>
    <div class="month" [style]="monthStyle">{{monthLabel}}</div>
    <div class="direction" (click)="changeMonth('up', 'month')"
    [style]="directionStyle">&gt;</div>
    <div class="direction" (click)="changeMonth('up', 'year')"
    [style]="directionStyle">&gt;&gt;</div>
  </div>
  <mat-accordion displayMode="flat" multi>
    <ng-container *ngFor="let wkctr of workcenters">
      <mat-expansion-panel [expanded]="isExpanded(wkctr.id)"
        (opened)="openPanel(wkctr.id)" (closed)="closePanel(wkctr.id)"
        class="remove-mat-expansion-panel-padding">
        <mat-expansion-panel-header [collapsedHeight]="'25px'" [expandedHeight]="'25px'">
          <mat-panel-description>
            {{wkctr.name.toUpperCase()}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flexlayout column center">
          <div class="flexlayout row center">
            <div class="name">&nbsp;</div>
            <div *ngFor="let dt of dates" class="day" [style]="getDateStyle(dt)">
              {{dt.getUTCDate()}}
            </div> 
          </div>
          <div class="flexlayout row center">
            <div class="name">Name</div>
            <div *ngFor="let dt of dates" class="day" [style]="getDateStyle(dt)">
              {{weekdays[dt.getUTCDay()]}}
            </div> 
          </div>
          <ng-container *ngFor="let pos of wkctr.positions; let i = index">
            <app-site-schedule-row-mobile *ngFor="let emp of pos.employees"
              [employee]="emp" [index]="i" [month]="month" [period]="period"
            ></app-site-schedule-row-mobile>
          </ng-container>
          <ng-container *ngFor="let sft of wkctr.shifts">
            <ng-container *ngIf="showShift(sft.id)">
              <app-site-schedule-row-mobile *ngFor="let emp of sft.employees; let i = index"
                [employee]="emp" [index]="i" [month]="month" [period]="period">
              </app-site-schedule-row-mobile>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="wkctr.employees && wkctr.employees.length > 0">
            <app-site-schedule-row-mobile *ngFor="let emp of wkctr.employees; let i = index"
            [employee]="emp" [index]="i" [month]="month" [period]="period">
          </app-site-schedule-row-mobile>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
