<form [formGroup]="basicForm" class="flexlayout row center" style="gap: 10px;">
  <mat-form-field appearance="fill">
    <mat-label>Site's Name/Title</mat-label>
    <input matInput formControlName="name" (blur)="onChange()">
    <mat-error class="error" *ngIf="this.basicForm.controls['name'].invalid">
      Required
    </mat-error>
  </mat-form-field>
  <mat-checkbox formControlName="mids" (change)="onChange()">
    Site has Rotating Mid-Shift
  </mat-checkbox>
  <mat-form-field appearance="fill">
    <mat-label>Site's Zulu Offset</mat-label>
    <input matInput type="number" max="12.0" min="-12.0" step=".5"
      formControlName="offset" (blur)="onChange()">
    <mat-hint>+/- Offset from Zulu (GMT)</mat-hint>
  </mat-form-field>
</form>
