<form [formGroup]="codeForm" class="flexlayout column topleft"
  [style]="formStyle">
  <div class="flexlayout row topleft" 
    style="padding: 2px;background-color: white;margin: 5px;">
    <mat-checkbox formControlName="leave" (change)="onChange('leave')">
      Is Leave
    </mat-checkbox>
  </div>
  <div class="flexlayout row topleft flexgap">
    <mat-form-field appearance="fill">
      <mat-label>Workcode ID</mat-label>
      <input matInput formControlName="id" (blur)="onChange('id')">
      <mat-error *ngIf="codeForm.controls['id'].hasError('required')"
        class="error">Required</mat-error>
      <mat-error class="error" *ngIf="codeForm.controls['id'].hasError('duplicate')">
        Duplicate ID
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 350px;">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title"
        (blur)="onChange('title')">
      <mat-error *ngIf="codeForm.controls['title'].hasError('required')"
        class="error">Required</mat-error>
    </mat-form-field>
  </div>
  <div class="flexlayout row topleft flexgap" *ngIf="workcode.isLeave || workcode.id === ''">
    <mat-form-field appearance="fill" >
      <mat-label>Alternate ID</mat-label>
      <input matInput formControlName="altcode"
      (blur)="onChange('altcode')">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Search For</mat-label>
      <input matInput formControlName="search"
      (blur)="onChange('search')">
    </mat-form-field>
  </div>
  <div class="flexlayout row topleft flexgap" *ngIf="!workcode.isLeave">
    <mat-form-field appearance="fill" >
      <mat-label>Shift Start Hour</mat-label>
      <mat-select formControlName="start"
        (selectionChange)="onChange('start')">
        <mat-option value=""></mat-option>
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Shift Premimum Code</mat-label>
      <input matInput formControlName="premimum"
        (blur)="onChange('premimum')">
    </mat-form-field>
  </div>
  <div class="flexlayout row center">
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Color Scheme</mat-label>
      <input matInput formControlName="colors" (blur)="onChange('colors')">
      <mat-hint>Text-Background RGB Hex</mat-hint>
      <mat-error class="error" *ngIf="codeForm.controls['colors'].hasError('required')">
        Required
      </mat-error>
      <mat-error class="error" *ngIf="codeForm.controls['colors'].hasError('required')">
        Illegal Pattern
      </mat-error>
    </mat-form-field>
  </div>
  <div class="flexlayout row center flexgap" *ngIf="workcode.id === ''">
    <button mat-raised-button color="primary"
      [disabled]="codeForm.invalid" (click)="onAdd()">
      Add
    </button>
    <button mat-raised-button (click)="codeForm.reset()">Reset</button>
  </div>
  <div class="flexlayout row center" *ngIf="workcode.id !== ''">
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
  </div>
</form>
