.mission {
  font-weight: bold;
  font-size: 12pt;
  border: solid 1px black;
  background-color: white;
  color: black;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 20px;
}

.label {
  font-weight: bold;
  font-size: 12pt;
  border: solid 1px white;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 20px;
}

.comments {
  font-weight: bold;
  font-size: 12pt;
  border: solid 1px black;
  background-color: white;
  color: darkred;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 610px;
  height: 20px;
}

.empty {
  border: solid 1px gray;
  background-color: gray;
  color: gray;
  margin: 0;
  padding: 0;
  width: 712px;
  height: 10px;
}