<div class="cell" [style]="dayStyle">
  <form [formGroup]="dayForm">
    <div class="dayOfMonth weekday">{{workday.id}}</div>
    <div class="code">
      <select class="day-form-field" formControlName="code"
      [style]="fontStyle" (change)="changeField('code')">
        <option value=""></option>
        <ng-container *ngFor="let opt of workCodes">
          <option [value]="opt.id" class="options"
            >{{opt.id.toUpperCase()}}</option>
        </ng-container>
      </select>
    </div>
    <div class="workcenter">
      <select class="day-form-field" formControlName="workcenter"
      [style]="fontStyle" (change)="changeField('workcenter')">
        <option value=""></option>
        <ng-container *ngFor="let opt of workcenters">
          <option [value]="opt.id" class="options">{{opt.name.toUpperCase()}}</option>
        </ng-container>
      </select>
    </div>
    <div class="hours">
      <select class="day-form-field" formControlName="hours"
      [style]="fontStyle" (change)="changeField('hours')">
        <ng-container *ngFor="let opt of workHours">
          <option [value]="opt" class="options">{{opt}}</option>
        </ng-container>
      </select>
    </div>
  </form>
</div>
