<div class="flexlayout row center">
  <div class="month">{{months[leaveMonth.month.getMonth()]}}</div>
  <div [class]="getStyle('dates')">
    <ng-container *ngFor="let lvs of leaveMonth.leaveGroups; index as i">
      <app-employee-ptoholidays-ptomonth-display [leaves]="lvs.leaves">
      </app-employee-ptoholidays-ptomonth-display>
      <ng-container *ngIf="i < (leaveMonth.leaveGroups.length - 1)">, </ng-container>
    </ng-container>
  </div>
  <div [class]="getStyle('actual')">{{getActualHours()}}</div>
  <div [class]="getStyle('requested')">{{getProjectedHours()}}</div>
</div>
