<div class="flexlayout column topleft">
  <form [formGroup]="teamsForm" class="flexlayout row topleft">
    <mat-form-field appearance="fill" style="width: 350px;">
      <mat-label>Choose Team to Edit</mat-label>
      <mat-select formControlName="team" (selectionChange)="onSelect()">
        <mat-option value="">Add New Team</mat-option>
        <mat-option *ngFor="let team of teams" [value]="team.id">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <app-add-team *ngIf="selectedTeam.id === ''"></app-add-team>
  <app-team-editor *ngIf="selectedTeam.id !== ''" [team]="selectedTeam">
  </app-team-editor>
</div>
