.direction {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  height: 25px;
  width: 35px;
  background-color: #e60000;
  color: white;
  border: solid 1px white;
  cursor: pointer;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  height: 25px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: .8em;
  font-weight: bold;
  border: solid 1px black;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 20px;
  font-size: 1em;
  font-weight: bold;
  background-color: black;
  color: white;
  border: solid 1px black;
}

.workcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-size: 1em;
  font-weight: bold;
  background-color: black !important;
  color: white !important;
}

.mat-expansion-panel,
.mat-expansion-panel-header,
mat-expansion-panel-body {
  padding: 0 !important;
  margin: 2px !important;
}

.mat-expansion-panel,
.mat-expansion-panel.mat-extended {
  background-color: gray;
  border-bottom: solid 1px black;
}

mat-panel-description {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  padding-left: 5px;
}

.monthSelect {
  text-align: center;
  font-size: 14pt;
  background-color: transparent;
  color: white;
  border: none;
  width: 120px;
}

.yearSelect {
  text-align: center;
  font-size: 14pt;
  background-color: transparent;
  color: white;
  border: none;
  width: 80px;
}