.oDate {
  top: 1px;
  width: 100px;
  bottom: 1px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.oSystem {
  top: 1px;
  bottom: 1px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.oProblem {
  top: 1px;
  bottom: 1px;
  width: 400px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.oButton {
  top: 1px;
  bottom: 1px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
