<div class="flexlayout column center">
  <div class="flexlayout row center">
    <div class="movement" (click)="updateYear('down')">&lt;&lt;</div>
    <div class="year">{{year}}</div>
    <div class="movement" (click)="updateYear('up')">&gt;&gt;</div>
  </div>
  <div class="flexlayout row center">
    <div class="namelabel">NAME</div>
    <div class="datelabel">FROM</div>
    <div class="datelabel">TO</div>
  </div>
  <ng-container *ngFor="let eVar of midList">
    <div class="flexlayout row center row">
      <div class="name">{{eVar.employee.name.getLastFirst()}}</div>
      <div class="date">{{dateString(eVar.variation.startdate)}}</div>
      <div class="date">{{dateString(eVar.variation.enddate)}}</div>
    </div>
  </ng-container>
</div>
