/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-top { margin-top: 1.2em; }
.horizontal-padding { margin-left: 1.2em; margin-right: 1.2em; }
.flex-spacer { flex: 1 1 auto; }

.fxLayout {
    margin: 2rem 1rem;
}

.flexlayout {
    display: flex;
    padding: 0;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.topcenter {
    justify-content: center;
    align-items: flex-start;
}

.centertop {
    justify-content: flex-start;
    align-items: center;
}

.topleft {
    justify-content: flex-start;
    align-items: flex-start;
}

.topright {
    justify-content: flex-end;
    align-items: flex-start;
}

.left {
    justify-content: flex-start;
    align-items: center;
}

.right {
    justify-content: flex-end;
    align-items: center;
}

.bottomleft {
    justify-content: flex-start;
    align-items: flex-end;
}

.bottomright {
    justify-content: flex-end;
    align-items: flex-end;
}

::ng-deep .spinner-dialog > mat-dialog-container {
    background-color: var(--background);
}

.error {
    color: red;
}

.flexgap {
    gap: 5px;
}

.flexwrap {
    flex-wrap: wrap;
}

.stdcolors {
    background-color: #3f51b5;
    color: white;
}

.flexstretch {
    justify-content: flex-start;
    align-items: stretch;
}