<div class="fxLayout flexlayout column topleft">
  <form [formGroup]="sitesForm" class="flexlayout row topleft">
    <mat-form-field appearance="fill">
      <mat-label>Choose Site to Edit</mat-label>
      <mat-select formControlName="site" (selectionChange)="onSelect()">
        <mat-option value="">Add New Site</mat-option>
        <mat-option *ngFor="let site of team.sites" [value]="site.id">
          {{site.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="warn" [disabled]="disableDeleteButton"
      (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </form>
  <app-add-site *ngIf="this.selectedSite.id === ''" [team]="team">
  </app-add-site>
  <app-team-editor-site *ngIf="this.selectedSite.id !== ''" [team]="team"
    [site]="selectedSite"></app-team-editor-site>
</div>
