<div class="flexlayout column center">
  <div class="title" [style]="getWidthStyle('title')">Leaves</div>
  <div class="flexlayout row center">
    <div class="label" [style]="getWidthStyle('month')">Month</div>
    <div class="label" [style]="getWidthStyle('dates')">
      Dates Taken <span style="color: #3399ff;">(Projected)</span>
    </div>
    <div class="label" [style]="getWidthStyle('taken')">Taken</div>
    <div class="label" [style]="getWidthStyle('requested')">Project</div>
  </div>
  <app-employee-ptoholidays-ptomonth-tablet
    *ngFor="let lm of leaveMonths" [leaveMonth]="lm">
  </app-employee-ptoholidays-ptomonth-tablet>
  <ng-container *ngIf="annual > 0.0">
    <div class="flexlayout row center">
      <div class="label" [style]="getWidthStyle('bottom')">Annual</div>
      <div class="label" [style]="getWidthStyle('bottom')">Carryover</div>
      <div class="label" [style]="getWidthStyle('bottom')">Taken</div>
      <div class="label" [style]="getWidthStyle('bottom')">Projected</div>
      <div class="label" [style]="getWidthStyle('bottom')">Balance</div>
    </div>
    <div class="flexlayout row center">
      <div class="data positive" [style]="getWidthStyle('bottom')">
        {{annual.toFixed(1)}}</div>
      <div class="data positive" [style]="getWidthStyle('bottom')">
        {{carryover.toFixed(1)}}</div>
      <div class="data positive" [style]="getWidthStyle('bottom')">
        {{actual.toFixed(1)}}</div>
      <div class="data positive" [style]="getWidthStyle('bottom')">
        {{requested.toFixed(1)}}</div>
      <div [class]="balanceClass()" [style]="getWidthStyle('bottom')">
        {{balance.toFixed(1)}}</div>
    </div>
  </ng-container>
</div>
