<div class="flexlayout column topleft">
  <form [formGroup]="shiftForm" class="flexlayout column center outline">
    <mat-form-field appearance="fill" *ngIf="showAdd" class="formfield">
      <mat-label>Position ID</mat-label>
      <input matInput formControlName="id">
      <mat-error class="error" *ngIf="shiftForm.controls['id'].invalid">
        Required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="formfield">
      <mat-label>Position Name (Title)</mat-label>
      <input matInput formControlName="name" (blur)="updateShift('name')">
      <mat-error class="error" *ngIf="shiftForm.controls['name'].invalid">
        Required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="!showAdd" class="formfield">
      <mat-label>Associated Work Codes</mat-label>
      <mat-select formControlName="associated" multiple 
        (selectionChange)="updateShift('associated')">
        <ng-container *ngFor="let code of team.workcodes">
          <mat-option *ngIf="!code.isLeave"
            [value]="code.id">{{code.id.toUpperCase()}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <div class="flexlayout row center" style="gap: 5px;">
      <mat-form-field appearance="fill" *ngIf="!showAdd">
        <mat-label>Shift's Pay/Premium Code</mat-label>
        <input matInput formControlName="paycode" (blur)="updateShift('paycode')">
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="!showAdd">
        <mat-label>Minimum Working</mat-label>
        <input matInput type="number" formControlName="minimums"
          min="0" (blur)="updateShift('minimums')">
        <mat-error class="error" *ngIf="shiftForm.controls['minimums'].invalid">
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flexlayout row center formfield" style="gap: 5px;">
      <button mat-raised-button color="primary" *ngIf="showAdd"
        (click)="addShift()">
        Add
      </button>
      <button mat-raised-button color="warn" *ngIf="showAdd"
        (click)="shiftForm.reset()">
        Reset
      </button>
      <button mat-raised-button color="warn" *ngIf="!showAdd"
        (click)="deleteShift()">
        Delete
      </button>
    </div>
  </form>
</div>