.direction {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  width: 35px;
  height: 20px;
  background-color: #e60000;
  color: white;
  border: solid 1px white;
  cursor: pointer;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  height: 20px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: .8em;
  font-weight: bold;
  border: solid 1px black;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 20px;
  font-size: .8em;
  font-weight: bold;
  background-color: black;
  color: white;
  border: solid 1px black;
}

.workcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-size: 1em;
  font-weight: bold;
  background-color: black;
  color: white;
}

.workcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-size: 12pt;
  font-weight: bold;
  background-color: black;
  color: white;
  border: solid 1px black;
}

.monthSelect {
  text-align: center;
  font-size: 14pt;
  background-color: transparent;
  color: white;
  border: none;
  width: 120px;
}

.yearSelect {
  text-align: center;
  font-size: 14pt;
  background-color: transparent;
  color: white;
  border: none;
  width: 80px;
}