<form [formGroup]="specialtyForm" class="flexlayout row topleft">
  <ng-container *ngIf="specialty.id === 0">
    <mat-form-field appearance="fill" style="width: 350px;"
      *ngIf="specialty.id === 0">
      <mat-label *ngIf="specialty.name === ''">Name/Title</mat-label>
      <input matInput formControlName="title" (blur)="onChange()">
      <mat-error *ngIf="specialtyForm.controls['title'].hasError('required')" 
        class="error">Required</mat-error>
    </mat-form-field>
    <div class="flexlayout column center cell" *ngIf="specialty.id === 0">
      <button mat-raised-button [disabled]="specialtyForm.invalid"
        (click)="onAdd()">
        Add
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="specialty.id > 0">
    <mat-form-field appearance="fill" style="width: 350px;">
      <input matInput formControlName="title" >
      <mat-error *ngIf="specialtyForm.controls['title'].hasError('required')" 
        class="error">Required</mat-error>
    </mat-form-field>
    <div class="flexlayout row center cell">
      <button mat-raised-button (click)="onSelect()" [color]="buttonColor()">
        {{buttonText()}}
      </button>
    </div>
  </ng-container>
</form>