<div class="fxLayout flexlayout column center">
  <div class="flexlayout column center">
    <div class="flexlayout row center title"
      style="border-bottom: solid 1px black;">
      <div class="checkbox" [style]="getWidthStyle('checkbox')">
        <mat-checkbox [checked]="allChecked"
        matTooltip="Check all messages/notifications"
        (click)="onAllCheckedClick()"
        ></mat-checkbox>
      </div>
      <div class="date" [style]="getWidthStyle('date')">DATE</div>
      <div class="message" [style]="getWidthStyle('message')">Message/Notice</div>
    </div>
    <app-employee-notices-message-desktop 
      *ngFor="let msg of messages;let i = index"
      [message]="msg" [messageStyle]="getStyle(i)"
      (checkChanged)="onChange($event)"></app-employee-notices-message-desktop>
    <div>
      <button mat-raised-button color="accent" 
        *ngIf="anyChecked"
        (click)="onAcknowledge()">Acknowledge Checked Messages</button>
      <button mat-raised-button color="warn"
        *ngIf="gotoApprovers"
        (click)="onApprovers()"
        >
        Proceed to Leave Request Approver
      </button>
      <button mat-raised-button color="warn"
        *ngIf="gotoLeaveRequests"
        (click)="onLeaveRequest()"
        >
        Proceed to Employee Leave Requests
      </button>
    </div>
  </div>
</div>