.cell {
  padding: 2px;
  margin: 0;
  width: 10rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  font-weight: bold;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}