<mat-stepper #stepper>
  <mat-step [stepControl]="userForm" label="Basic Information"
    errorMessage="Email/Name is required">
    <form [formGroup]="userForm" class="flexlayout column topleft">
      <div class="flexlayout row center">
        <mat-form-field>
          <mat-label>E-mail Address</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="this.userForm.get('email')?.hasError('required')"
            class="error">Required</mat-error>
        </mat-form-field>
      </div>
      <div class="flexlayout row center" style="gap: 5px;">
        <mat-form-field class="fieldWidth">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="first">
          <mat-error *ngIf="this.userForm.get('first')?.hasError('required')"
            class="error">Required</mat-error>
        </mat-form-field>
        <mat-form-field class="fieldWidth">
          <mat-label>Middle Name</mat-label>
          <input matInput formControlName="middle">
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
        <mat-form-field class="fieldWidth">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="last">
          <mat-error *ngIf="this.userForm.get('last')?.hasError('required')"
            class="error">Required</mat-error>
        </mat-form-field>
      </div>
      <div class="flexlayout row center">
        <button mat-button matStepperNext>Next</button>
        <button mat-raised-button color="warn" (click)="stepper.reset()">
          Reset</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passwordForm" label="Employee's Password"
    errorMessage="Password/Verification is required">
    <form [formGroup]="passwordForm" class="flexlayout column topleft">
      <div class="flexlayout row center">
        <mat-form-field class="fieldWidthWide">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="this.passwordForm.get('password')?.invalid"
            class="error">
            {{getPasswordError()}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fieldWidthWide">
          <mat-label>Verify New Password</mat-label>
          <input matInput type="password" formControlName="password2">
          <mat-error *ngIf="this.passwordForm.get('password2')?.invalid"
            class="error">
            {{getVerifyError()}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="flexlayout row center">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
        <button mat-raised-button color="warn" (click)="stepper.reset()">
          Reset</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="companyForm" label="Employee's Company Information"
    errorMessage="Required information missing">
    <form [formGroup]="companyForm" class="flexlayout column topleft">
      <div class="flexlayout row center" style="gap: 5px;">
        <mat-form-field class="fieldWidthWide">
          <mat-label>Company</mat-label>
          <mat-select formControlName="company">
            <mat-option *ngFor="let co of companies"
              [value]="co.id">{{co.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.companyForm.get('company')?.hasError('required')"
          class="error">Required</mat-error>
        </mat-form-field>
        <mat-form-field class="fieldWidth">
          <mat-label>Employee ID</mat-label>
          <input matInput formControlName="employeeid">
          <mat-hint>Company Employee ID</mat-hint>
          <mat-error *ngIf="this.companyForm.get('employeeid')?.hasError('required')"
            class="error">Required</mat-error>
        </mat-form-field>
        <mat-form-field class="fieldWidth">
          <mat-label>Alternate ID</mat-label>
          <input matInput formControlName="alternateid">
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
      </div>
      <div class="flexlayout row center" style="gap: 5px;">
        <mat-form-field class="fieldWidth">
          <mat-label>Job Title</mat-label>
          <input matInput formControlName="jobtitle">
          <mat-error *ngIf="this.companyForm.get('jobtitle')?.hasError('required')"
            class="error">Required</mat-error>
        </mat-form-field>
        <mat-form-field class="fieldWidth">
          <mat-label>Rank/Grade</mat-label>
          <input matInput formControlName="rank">
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
        <mat-form-field class="fieldWidth">
          <mat-label>Cost Center</mat-label>
          <input matInput formControlName="costcenter">
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
        <mat-form-field class="fieldWidth">
          <mat-label>Division</mat-label>
          <input matInput formControlName="division">
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
      </div>
      <div class="flexlayout row center">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
        <button mat-raised-button color="warn" (click)="stepper.reset()">
          Reset</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="laborForm" errorMessage="Labor Code is required"
    label="Initial Labor Code">
    <form [formGroup]="laborForm" class="flexlayout column topleft">
      <div class="flexlayout row center">
        <mat-form-field>
          <mat-select formControlName="laborcode">
            <mat-option *ngFor="let lc of laborcodes" 
            [value]="lc.chargeNumber + '|' + lc.extension">
            {{lc.chargeNumber + ' - ' + lc.extension}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.laborForm.get('laborcode')?.hasError('required')"
          class="error">Required</mat-error>
        </mat-form-field>
      </div>
      <div class="flexlayout row center">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
        <button mat-raised-button color="warn" (click)="stepper.reset()">
          Reset</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="assignmentForm" label="Initial Assignment"
    errorMessage="Assignment information is required">
    <form [formGroup]="assignmentForm" class="flexlayout column topleft">
      <div class="flexlayout row center" style="gap: 5px;">
        <mat-form-field class="fieldWidth">
          <mat-label>Assignment Workcenter</mat-label>
          <mat-select formControlName="workcenter">
            <mat-option *ngFor="let wkctr of workcenters"
              [value]="wkctr.id">{{wkctr.name.toUpperCase()}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="fieldWidth">
          <mat-label>Assignment Start</mat-label>
          <input matInput [matDatepicker]="startpicker"
            formControlName="startdate">
          <mat-datepicker-toggle matIconSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
    <app-site-employee-assignment-schedule [site]="site" [schedule]="schedule">
    </app-site-employee-assignment-schedule>
    <div class="flexlayout row center">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
      <button mat-raised-button color="warn" (click)="stepper.reset()">
        Reset</button>
    </div>
  </mat-step>
  <mat-step label="Submit New Employee">
    <div class="flexlayout row topleft">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="addEmployee()">
        Submit</button>
      <button mat-raised-button color="warn" (click)="stepper.reset()">
        Reset</button>
    </div>
  </mat-step>
</mat-stepper>
