<div class="app-container">
  <app-header (sidenav)="sidenav.toggle()"></app-header>
  <mat-sidenav-container class="app-sidenav-container"
    [class.marginTop.px]="isMobile ? 56 : 0">
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'"
      [fixedInViewport]="isMobile" fixedTopGap="56" 
      [opened]="this.authService.isAuthenticated">
      <app-navigation-menu (sidenav)="sidenav.toggle()"></app-navigation-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet class="app-container"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-statusbar class="statusbar"></app-statusbar>
</div>